.welcome-page{
   font-family: 'Cuprum';
   font-size: 24px;
   font-weight: 400;
   letter-spacing: 1px;
   text-align: center;
   margin-top: 30px;
}

.welcome-page img{
  width: 150px;
}

.welcome-title{
  margin-bottom: 40px;
}

.welcome-content{
  margin-bottom: 50px;
}

.not-content{
  font-family: 'Cuprum';
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 1px;
}

.leaflet-container {
  width: 100%;
  height: 70vh;
  flex: 4;
  border-radius: 5px;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
  0px 2px 2px 0px rgb(0 0 0 / 14%),
  0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.header{
  display: flex;
  justify-content: space-between;
  padding: 30px 40px;
}

.header a{
  text-decoration: none;
}

.header__entry{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-page{
  display: flex;
  margin-bottom: 40px;
}

.main-page__content{
  margin: 10px 40px 0px 50px;
  flex: 4;
  padding-right: 20px;
}

.logo{
  display: flex;
  text-transform: uppercase;
  align-items: center;
  color: black;
}

.logo div{
  margin-left: 20px;
  font-family: 'Cuprum', sans-serif;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 5px;
}

.header__entry__personal{
  font-family: 'Cuprum',
  sans-serif;
  letter-spacing: 5px;
  font-size: 20px;
  color: #1976D2;
}

.header__entry__personal__container{
  display: flex;
  align-items: center;
}

.header__entry__personal__container img{
  margin-right: 10px;
}

.map-page{
  display: flex;
  margin-bottom: 15px;
}

.map-add{
  display: flex;
  flex-direction: column;
  flex: 1.5;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

.map-helper{
  display: flex;
  width: 250px;
  margin: 20px 0px; 
  font-size: 12px;
  color: #757575;
}

.map-none{
  display: none;
}

.map-form{
  width: 90%;
  height: 70%;
}

.map-auth{
  color: #757575;
  justify-content: center;
}

@media (max-width: 1000px) {
  .map-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .leaflet-container {
    flex: initial;
    margin-bottom: 30px;
  }

  .map-form{
    width: auto;
    height: auto;
  }

  .MuiPaper-elevation2 {
    width: 400px;
  }
}

@media (max-width: 880px) {
  .search {
    flex-direction: column;
  }
}

@media (max-width: 640px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .logo{
    padding-bottom: 30px;
  }
}

.leaflet-popup-content-wrapper {
  padding: 1px;
  text-align: left;
  border-radius: 5px;
  font-family: 'Roboto';
}

.leaflet-popup-content {
  margin: 16px 19px 13px 8px;
}

.leaflet-container a.leaflet-popup-close-button {
  padding: 0;
  font: 14px Tahoma, Verdana, sans-serif;
}

.popup-time{
  color: #757575;
  font-size: 10px;
  text-align: right;
  margin-bottom: 5px;
}

.popup-title{
  margin-bottom: 3px;
}

.post-page{
  display: flex;
  flex-direction: column;
}

.complaint-header{
  display: flex;
  margin-bottom: 20px;
}